body {
    background-color: #fff599;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.btn-default
{
    background-color: #2C3E50;
    color: white;

}
.btn-hover {
    background-color: #6F6F83;
    color: white;
}

.extrafieldpad {
       padding-top: 25px;
}

.tablehdr {
    background-color: orchid;
    border-style: solid;
    border-width: 2px;
    
}
.tablehdrcol1 {
    border-top-left-radius: 8px;
}
.tablehdrcolend {
    border-top-right-radius: 8px;
}